header.page__container {
    padding-block: 2em;
  }

.navigation {
    background-color: #151515;
    display: none;
    flex-direction: column;
    gap:1em;
    inset: 0;
    opacity: 0;
    padding:8em 2em;
    position: fixed;
    text-align: right;
    width: 100%;
    visibility: hidden;
    z-index: 9;
    transition: 0.3s opacity ease;
}

@media(min-width:1280px) {

  .navigation {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap:2em;
    inset: 0;
    opacity: 1;
    padding:0;
    position: relative;
    text-align: left;
    width: 100%;
    visibility: visible;
    z-index: 9;
    transition: none;
}

}


.navigation a {
  font-size:1.2em;
}

@media(min-width:1280px) { 
  .navigation a {
    font-size:1em;
  }
}


.menu_open .navigation {
  display: flex;
  opacity: 1;
  visibility: visible;
  transition: 0.3s opacity ease;
}

body.theme-light .navigation {
    background-color: #e0e0e0;
}

body.theme-light .navigation a svg {
  fill: #151515;
}

@media (min-width: 1280px) { 
    body.theme-light .navigation {
      background-color: transparent;
  }
}