.toggle_buttons {
    background-color: #202020;
    border-radius: 6px;
    padding:0.5em 1em;
}

.toggle_button {
    opacity: 0.6;
}

.toggle_button--active {
    opacity: 1;
}

body.theme-light .toggle_buttons {
    background-color: #e0e0e0;
}